.sidenav-container {
  height: 100vh;
  display: flex;
  background-color: #f5f5f5;
}

.sidenav {
  width: 250px;
  background-color: #1b5e20; /* Dark Green */
  color: white;
  padding: 50px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.user-icon {
  width: 50px;
  height: 50px;
  color: white;
  margin-bottom: 10px;
}

.user-email {
  font-size: 14px;
  color: #d1d1d1;
  text-align: center;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  padding: 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidenav ul li:hover {
  background-color: #2e7d32;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
